.app-container {
    display: flex;
}
.menu-toggle{
    display: none;
}

.menu-bar-right{
    margin: 2em 2em 2em 2em;
}


.menu-bar-left{
    margin: 2em 2em 2em 2em;
}

footer p{
    margin: 2em 2em 2em 2em;
}


footer a{
    margin: 2em 2em 2em 2em;
}

h1{
    margin-left: 1em;
    margin-right: 1em;
}



@media  screen and (max-width: 600px) {
    .menu-bar-left{
        display: none;
    }
    .menu-bar-right{
        display: none;

    }
    .menu-toggle{
        display: inline-block;
    }

    .menu-bar-right-show{
        display: block;
    }
    .menu-bar-left-show{
        display: block;
    }

    table{
        overflow-y:scroll;
        height:20em;
        display:block;
    }


    footer{
        display: flex;
        flex-wrap: wrap;
    }


}