.app-container {
    display: flex;
}
.menu-toggle{
    display: none;
}

.menu-bar-right{
    margin: 2em 2em 2em 2em;
}


.menu-bar-left{
    margin: 2em 2em 2em 2em;
}

footer p{
    margin: 2em 2em 2em 2em;
}


footer a{
    margin: 2em 2em 2em 2em;
}




@media  screen and (max-width: 600px) {
    .menu-bar-left{
        display: none;
    }
    .menu-bar-right{
        display: none;

    }
    .menu-toggle{
        display: block;
    }

    .menu-bar-right-show{
        display: block;
    }
    .menu-bar-left-show{
        display: block;
    }

    table{
        overflow-y:scroll;
        height:20em;
        display:block;
    }

    :root {
        --line-height: 1;
        --nav-element-spacing-horizontal: 0.2rem;
    }
    nav{
        height: 6em;
    }

    footer p{
        margin: 0.5em 0.5em 0.5em 0.5em;
    }


    footer a{
        margin: 0.5em 0.5em 0.5em 0.5em;
    }

}